[submodule "dice-roller-ui"]
	path = client
	url = git@github.com:Felipe-Sarmento/dice-roller-ui.git
[submodule "dice-roller-server"]
	path = server
	url = git@github.com:Felipe-Sarmento/dice-roller-server.git


